body {
    background-color: #cccccc;
    text-align: center;
    
}

h1 {
    background-color: #ffffff;
}

#name {
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    border: 10px;
    padding: 10px;
    margin: 2px;

}

.first { 
    background-color: white;
    word-wrap: break-word;
    border: 10px;
    padding: 20px;
    margin: 10px;

}

div.picture1 {
    width: 200px;
    height: 300px;
    background-image: "pictures/aamanda.jpg";
}